{
    "presets": ["next/babel"],
    "plugins": [
      "inline-react-svg",
      "jsx-control-statements",
      [
        "module-resolver",
        {
          "root": ["./"],
          "alias": {
            "@components": "./components",
            "@lib": "./lib",
            "@api": "./api",
            "@models": "./models",
            "@screens": "./screens",
            "@hooks": "./hooks",
            "@services": "./services",
            "@constants": "./constants",
            "@context": "./context",
            "@queries": "./queries",
            "@data": "./data",
            "@typeDefs": "./types",
            "@generated": "./generated",
            "@utils": "./utils",
            "@public": "./public",
            "@styles": "./styles"
          }
        }
      ]
    ]
  }